@import "tailwindcss";

:root {
  --background: #8bac0f;
  --foreground: #9bbc0f;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
 --text-shadow-drop: -10px 5px 0px rgb(15 56 0 / 0.075);
 --text-shadow-minidrop: -2px 5px 0px rgb(3 10 3 / 0.3);
 --shadow-drop: -10px 10px 0px rgb(3 10 3 / 0.230);
 --color-foreground-900: #3b7a2c;
  --text-title: 10rem;
  --color-gameboy-1: #9bbc0f;
   --color-gameboy-2: #8bac0f;
 --color-gameboy-3: 	#306230;
   --color-gameboy-4: #0f380f;


}



@media (prefers-color-scheme: dark) {
  /* root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif, Arial, Helvetica;
}
