@import "tailwindcss";

:root {
  --background: #282828;
  --foreground: #fbf1c7;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
 --text-shadow-drop: -10px 5px 0px rgb(10 10 0 / 0.075);
 --color-foreground-900: #d79921;



}

@media (prefers-color-scheme: dark) {
  /* root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif, Arial, Helvetica;
}
